html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  /*,.el-dialog__header,.el-dialog__body,.el-dialog__footer*/
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system,"Helvetica Neue",
  Helvetica,Arial,"PingFang SC","Hiragino Sans GB",
  "WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
  font-size: 16px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  display: block;
  cursor: pointer;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  min-width: 1440px;
}

/*显示省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
重写element-ui的样式
 */
.el-header {
  padding: 0;
}

.clearFix:after,
.clearFix:before {
  content: '';
  display: table;
  clear: both;
}

.left-float{
  float: left;
}
.right-float{
  float: right;
}
.el-dialog__body{
  /*margin: 20px;*/
  padding: 10px;
}
.el-dialog__header{
  /*padding: 10px;*/
  background-color: #009E96;
  padding-top: 10px;
  color: white;
}

.el-dialog__header > .el-dialog__headerbtn{
  float: right;
  display: block;
  top:10px;
}
.el-dialog__header > .el-dialog__headerbtn > .el-dialog__close{
  color: white;
  transition: 0.5s;

}
.el-dialog__header > .el-dialog__headerbtn > .el-dialog__close:hover{
  color: rgba(36, 97, 151, 0.48);
}
.el-dialog__body{
  padding: 0;
}
.el-dialog__footer {
  border-top: 1px #d1d1d1 solid;
  background-color: #EEEEEE;
  padding:0
}
.must-input-logon{
  color: red;
}

.dialog-footer {
  border-top: 1px #d1d1d1 solid;
  background-color: #EEEEEE;
  padding: 10px 20px
}
/**
修改el-table 标题背景色

 */
.el-table__header-wrapper{
  background-color: #F2F2F2;
}

a:hover{
  color: rgba(255, 64, 0, 0.69);
}
